
/*

combinators
-----------
1. child combinator   -----  (>)
  child combinator is direct will apply the color if the child is available

2. decadent ------------( ) (space)
    decadent selector is direct and indirect will apply the color if the child is available


3. next sibling selector or adjacent sibling selector -- (+)

4. general sibling selector ---------  (~)


syx: 
    simpleSelector combinator simpleSelector{
              property:value;
    }


 */
.container{
  width: 200px;
  height: 480px;
  /* border: 2px solid black; */
  margin: 5px;
  display: inline-block;
  vertical-align: top;
}
.container>img{
  width: 100%;
  /* height: 100%; */
}